= "#{@entries["Count"]} Total Results Found for #{@query}"
%br/

- @entries["Entries"].each do |entry|
  %a{:href => entry[:link]} 
    = entry[:title]
  %br/
%br/

%br/
%a{:href => "/search/#{@query}/#{@page_num.to_i + 1}"}
  = "=>"
%br/
%a{:href => "/"}
  Back to Index
